@charset "UTF-8";
@charset "iso-8859-15";
/* ===================================================================

fonts
 10px = 77%     11px = 85%     12px = 93%     13px = 100%
 14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
 18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
 22px = 167%    23px = 174%    24px = 182%    25px = 189%
 26px = 197%
=================================================================== */

html {
	overflow-y: scroll;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #292621;
    color: #FFFFFF;
		font-weight:bold

}
::selection {
    background: none repeat scroll 0 0 #292621;
    color: #FFFFFF;
	font-weight:bold
}

input, textarea {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* for IE6 */
* html body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
* html input, * html textarea {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*----------------------------------------------------*/

a:link {
	background-image: none;
}

a:hover {
text-decoration:none
}

/*----------------------------------------------------*/
/* clerfix */
#contents:after {
	content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
}

.imgR {
	float: right;
	margin: 0 0 10px 10px;
}

.imgL {
	float: left;
	margin: 0 10px 10px 0;
}

.btn {
	text-align: center;
}

.sign {
	text-align: right;
}
.fontS{
font-size:80%
}

.sp-none{
	display: block;
}
.pc-none{
	display: none;
}


/*----------------------------------------------------
	#page
----------------------------------------------------*/
#page {
	font-size: 100%;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	position: relative;
	top:0;
	overflow: hidden;
}

#globalHeader h1 {
float:left;
width:400px;
}

#globalHeader h1 img {
width:170px;
height:21px;
}

#globalHeader h2 {
font-size:65%;
font-weight:normal;
position:absolute;
right:0;
padding-top:18px;
}


#globalHeader .boxSns {
position:absolute;
right:0;
position:absolute;
padding-top:14px;
display:none;
}




/*----------------------------------------------------
	#contents
----------------------------------------------------*/
	

#globalHeader img {
	vertical-align: bottom;
}

#mainnavi {
margin-top:18px;
}

#mainnavi ul li {
float:left;
margin-right:25px;
font-size:11px;
}

#mainnavi ul li a{
margin-top:30px;
text-decoration:none;
color:#333;
letter-spacing:0.1em;
font-weight:400;
padding-top:150px;
padding-bottom:54px;
}

#mainnavi ul li a.current{
border-bottom:1px solid #ec652b;
}

#mainnavi ul li a:hover{
border-bottom:1px solid #ec652b;
}


#mainnavi {
float:left;
}

#globalHeader #mainnavi ul li img{
vertical-align:top;
}


#globalHeader #share dt {
	float: left;
	padding-right: 5px;
}

#pic{
	clear:both;
	margin-right:-15px;
}

#pic li {
	width: 530px;
	float: left;
	list-style-type: none;
	margin: 0px 16px 80px 16px ;
}

#pic  .cap {
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 15px;
	padding-right: 1px;
	padding-bottom: 15px;
	font-size: 16px;
	height: 20px;
	line-height: 1.7em;
}
#pic .cap a {
	background-repeat: no-repeat;
	background-position: left center;
	color: #4f4f4f;
	text-decoration: none;
	font-weight: 700;
}

#pic .cap a:hover {
text-decoration:underline
}

#pic img  {
	width: 530px;
	/*height: 214px;*/
	overflow: hidden;
	display: block;
	border-radius: 10px;
}

#pic p  {
	width: 530px;
	font-size: 14px;
	font-weight:lighter;
	display: block;
}

#pic .hobbytext {
	width: 530px;
	font-size: 30px;
	font-weight:lighter;
	display: block;
	color: #000;
}

#pic  .cap   a  span {
	color: #333333;
	letter-spacing:0;
}

#contents #tit {
	font-size: 80%;
	padding-bottom: 15px;
	z-index: 100000;
	color: #1e546a;
	font-weight: bold;
}

#pic2{
	clear:both;
	margin-right:-15px;
	}

#pic2 li {
	width: 330px;
	float: left;
	list-style-type: none;
	margin: 0px 16px 50px 16px ;
	}
#pic2 img{
	width: 330px;
	height: 250px;
	object-fit: cover;
	overflow: hidden;
	display: block;
	border-radius: 10px;
	
}

#pic3{
	clear:both;
	margin-right:-15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

#pic3 li {
	width: 530px;
	float: left;
	list-style-type: none;
	margin: 0px 16px 50px 16px ;
	}

#pic3 h1{
	font-size: xx-large;
	margin-bottom: 30px;
	}

#pic3 h2{
	text-decoration: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 300;
	font-size: 25px;
	color:#333;
	line-height: 40px;
	margin-top: 50px;
	margin-bottom: 100px;
}

#pic3 h3{
	font-weight: 300;
	margin-top:10px;
	padding-top: 10px;
	color:#333;
	font-size: 25px;
}


/*----------------------------------------------------
	#main
----------------------------------------------------*/


.wp-pagenavi {
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing:-0.05em;	
	text-shadow: -1px -1px 0px rgba(61,61,61,0.1);
}

.wp-pagenavi nav .Nav {
	clear: both;
	float:left;
}

.wp-pagenavi  span {
	font-family: Century Gothic;
	color: #1E113C;
	padding-top:8px;
	margin-right: 10px;
	margin-left: 0px;
	float: left;
	font-size:70%;
	font-weight:bold;
	float:left;
	padding-bottom:10px;

}
.wp-pagenavi  a {
	font-family: Century Gothic;
	margin-bottom: 1px;
	margin-right: 1px;
	list-style-type: none;
	display: block;
	font-size: 78%;
	width:57px;
	text-align: center;
	text-decoration: none;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	float: left;
}
.wp-pagenavi  .on {
	font-family: Century Gothic;
	background-color: #1e546a;
	color: #FFFFFF;
	display: block;
	font-size: 78%;
	text-align: center;
	text-decoration: none;
	width:57px;
	margin-right: 1px;
	float: left;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
}
.wp-pagenavi  a strong {
	font-family: Century Gothic;
	font-weight:normal;
	clear: both;
	-webkit-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	-moz-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	-ms-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
}

.wp-pagenavi a:link {
	background-color: #FFFFFF;
	color: #333333;
}
.wp-pagenavi a:visited {
	background-color: #cacaca;
	color: #ffffff;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active {
	background-color: #e8692b;
	color: #FFFFFF;
}
.wp-pagenavi .NavEnd a:hover, .wp-pagenavi .NavEnd a:hover ,  .wp-pagenavi .NavEnd a:active , .wp-pagenavi .NavEnd a:active {
	background-color: #636363;
	color: #FFFFFF;
}
.wp-pagenavi .nextpostslink2 {
	font-size: 50%;
	line-height: 2em;
}
.wp-pagenavi .nextpostslink {
	font-size: 50%;
	line-height: 2em;
}

.award-holder-med {
	position: fixed;
	top: 10px;
	right: 0px;
	z-index:10000000000000;
}


#pageTop {
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 50px;
}
#pageTop #btn {
	vertical-align: bottom;
	position: absolute;
	bottom: 40px;
}

#wd15 {
	width:127px;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index:1000;
}
#wd15 img{
	width:127px;
	height:127px;
	}

#pageTop img {
opacity:0;
}


#globalFooter {
	clear: both;
	/* padding-top: 15px;
	padding-bottom: 5px; */
}


#about {
font-size:75%;
padding-bottom:120px;
}

#about h3 {
	font-size: 100%;
	color: #28657e;
	margin-bottom: 15px;
}
#about .txt {
	margin-bottom: 50px;
	line-height:1.8em;
}
#about .txt  .Production{
	margin-bottom:50px
}

#about .txt .list {
	margin-top: 15px;
	font-size:80%;
}

#about .txt .list li {
	line-height:2em;
}


#about .about li {
	list-style-type: none;
	padding-bottom:0px;
	line-height:1.3em;

}
#about .about dt {
	display: block;
	width: 14em;
	float: left;
	clear: both;
}
#about .about dd {
	width: 100%;
}
#about .about dl {
	display: block;
	padding-bottom: 5px;
}

#about .about a {
	color: #4f4f4f;
}

#about .about a:hover {
	color: #4f4f4f;
	text-decoration:underline;
}

#about #googleadbnr {
	display:none;
}

#globalFooter .copyright {
	padding-top: 10px;
	
}
#globalFooter .f-share {
	padding-bottom: 10px;
	padding-top: 10px;
}

#infscr-loading{
display:none;
}

#cate{
margin:20px 0 100px 30px ;
}

#cate #googleadbnr {
	display:none;
}


#catelist .cate-inner{
width:320px;
float:left;
font-size:80%;
margin-bottom:30px;
}

#catelist .cate-inner a{
text-decoration:none;
color:#000;
}

#catelist .cate-inner a:hover{
text-decoration:underline;
}

#catelist .cate-inner a:visited{
color:#295d72;
}

#cate h3{
margin-bottom:20px;
font-size:90%;
font-family:lato;
font-weight:900;
}

#cate ul{
margin-bottom:40px;
}


#cate li{
white-space:nowrap;
margin-bottom:15px;
font-size:90%;
letter-spacing:-0.05em;
list-style:none;
}

#catelist h3{
margin-bottom:20px;
font-size:90%;
font-family:lato;
font-weight:900;
}

#catelist li{
white-space:nowrap;
margin-bottom:15px;
font-size:90%;
letter-spacing:-0.05em;
list-style:none;
}


.archive{
padding-bottom:120px;
}

.ico-blank a{
background:url(../img/blank.png) right center no-repeat;
padding-right:12px;
}

#a04{
background:url(../img/blank.png) right center no-repeat;
padding-right:12px;
}

#next{
width:100%;
clear:both;
background-color:#e6e6e4;
}

#next img{
text-align:center;
margin:auto;
padding:7px 0;
}


.detail #pic li img{
	width:100% !important;
	height:100%;
	padding-bottom:100px;
	}	

.detail .cap  a.tit {
	font-size: 14px;
    height: 20px;
    line-height: 1.7em;
	text-decoration:none;
	}

.detail .cap a {
	font-size: 10px;
    height: 20px;
    line-height: 1.7em;
	font-weight:normal;
	color:#333;
}

.detail h2 {
	margin-bottom:30px;
	}				


/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom:1;
}


#parlink{
font-size:80%;
font-weight:bold;
}
#facebookfanpage {
	width: 105px;
	float: none;
}
#share2 {
	vertical-align: super;
	padding-bottom: 5px;
	z-index:9999999;
	position:relative;
}
#share2 img {
	vertical-align: text-bottom;
	padding-left: 1px;
	padding-bottom: 3px;
}


#googleadbnr{
	width:100%;
	margin:0px auto 70px;
	clear:both;
	float:none;
	text-align: center;
}
ins.adsbygoogle.ads-sp {
	display: none !important;

}

.sche_pc_img{
	display:inline-block !important;
	width:728px !important;
	height:90px !important;
	text-align: center;
}

.sche_sp_img{
	display:none !important;
	
}

#amazonbnr{
	width:728px;
	margin:0px auto 70px;
	clear:both;
	float:none
}
.toggle,.global_nav{
	display: none;
}


@media screen and (max-width:768px) {
/* スマホ非表示 */
	.sp-none{
		display: none;
	}
	.pc-none{
		display: block;
	}
	/* ドローワーメニュー */
	.toggle,.global_nav{
		display: block;
	}
	
	.toggle {
		height: 25px;
	position: relative;
	width: 25px;
		padding-top: 15px;
		z-index: 20;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.toggle.is-fixed {

		position: fixed;
		top: 20px;
		right:40px;
		z-index: 20;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	  }

	.toggle span {
		z-index: 20;
	background:  #333;
	border-radius: 4px;
	display: block;
	height: 1px;
	width: 25px;
	left: 50%;
	margin: 0 0 0 -50%;
	position: absolute;
	top: 50%;
	-webkit-transform: ro tate(0);
	transform: rotate(0);
	transition: all 0.1s ease-out 0s;
	}

	.toggle span:nth-child(2) {
		margin-top: 5px;
	}
	.toggle.active span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		transform: rotate(-45deg);
	}
	.toggle.active span:nth-child(2){
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top:15px;
	}
	.toggle.active{
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.global_nav {
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: #F7F7F4;
		/* transition: all 0.2s ease-out 0s; */
		transform: translateX(100%);
	}

	.global_nav.active {
		transform: translateY(0%);
		
	}
	.drawer-inner{
		padding: 80px 16% 0 16%;
		opacity: 0;
		/* transform: translateX(150px); */
		/* transition:  transform .3s ease-out, opacity .4s ease; */
	}
	.drawer-inner.active{
		opacity: 1;
		/* transform: translateX(0); */
		/* transition:  all 0.6s ease-out 0.4s; */
		/* transition:  transform .2s ease-out 0.2s, opacity .4s ease 0.3s; */
	}
	
	#drawer-warp{
		width: 100%;
		padding-bottom: 40px;
		
	}
	.drawer-list{
		margin-top: 40px;
			}
			
	.drawer-number{
	font-size: 10px;	
	}
.drawer-number:after{
content: '';
display: inline-block;
background: #d5d5d3;
height: 1px;
width: 25px;
margin-left: 10px;
margin-right: 10px;
	}
	.drawer-title{
		color: #333;
		font-size: 28px;
		font-weight: 300;
		text-decoration: none;
	}
	.sns{
	display: flex;
	padding-top:40px;
	border-top: 0.5px solid #d5d5d3;
	}
	.sns-item{
		margin-right: 10px;
	}
	.sns-item img{
		width: 30px;
		height: auto;
	}

	  /* TOPメインコンテンツ */
	 
	#pic{
		clear:both;
		margin-right:0px;
		}
		#pic li {
			width: 100%;
			float: none;
			list-style-type: none;
			margin: 40px 0px 0 0 ;

		}
		#pic img {
			margin: 0px;
			padding: 0px;
			width: 100%;
			height: 75.1%;
			overflow: hidden;
			display: block;
		}
		#pic .cap {
			background-repeat: no-repeat;
			background-position: top;
			padding-top: 10px;
			padding-right: 0px;
			padding-bottom: 0px;
			font-size: 70%;
			height: 20px;
			line-height: 1.7em;
		}
	
		
 /* header*/
 #globalHeader h1 {
    float: none;
width: 100%;
}
#globalHeader h1 img {
    width: 118px;
	height: auto;
	max-width: 100%;
}
		#globalHeader {
			background:none;
			left: 0;
			overflow: visible;
			position:static;
			top: 0;
			width: 100%;
			z-index: 99999;
			display: flex;
			justify-content: space-between;
			padding:45px 0 30px 0;
			border-bottom: 0.5px solid #e3e3e1;
		}
		#globalHeader .boxSns {
			display: none;}

			#globalHeader h2 {
				display: none;
			}
			#mainnavi{
				display: none;
			}
			#mainnavi ul li a.current {
				border-bottom:none ;
			}
			#mainnavi ul li a:hover{
				border-bottom:none ;
				}
			#topicPath {
				display: none;
			}
			.topBody{
				background-color: #F7F7F4;
              padding: 0 10.666666%;
			}
			/* about */
			#about .about{
margin-top: 40px;
		}
		#about .about li {
			list-style-type: none;
			padding-bottom: 0px;
		line-height: 1.8em;
		}
		#about h3 {
			margin-bottom: 15px;
		}
		#about .txt {
			margin-bottom: 40px;
			line-height: 1.8em;
		}
		#about .txt .Production {
			margin-bottom: 40px;
		}
			#about .about dt {
				display: block;
				width: 25%;
				float: left;
				clear: both;
			}
			#catelist{
				margin-top: 40px;
			}
	}


/*connect form*/
* {
	box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
	width: 100%;
	padding: 18px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: 100;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 100;
  }
  
  input[type=submit] {
	background-color: #000;
	color: white;
	padding: 20px 80px;
	margin-top: 10px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 100;
  }
  
  input[type=submit]:hover {
	background-color: #333;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }

/* rehyb page css */
.rehyb_all{
	/*background-color: #F2F4FB;*/
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	width: 100%;
}

.rehyb_img{
	display: block;
  	margin-left: 12%;
  	width: 76%;
}
.rehyb_bigimg{
  	width: 100%;
}
.rehyb_approch{
	display: block;
  	margin-left: auto;
	margin-right: auto;
  	width: 50%;
}
.rehyb_map{
	display: block;
	margin-top: 10px;
  	margin-left: 12%;
  	width: 50%;
}
.rehyb_bigheader{
	font-size: 30px;
	font-weight: bold;
	margin-left: 12%;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #000;
}
.rehyb_header{
	font-size: 24px;
	font-weight:500;
	margin-left: 12%;
	margin-top: 30px;
	margin-bottom: 20px;
	color: #000;
}

.rehyb_heading{
	float: left;
	width: 30%;
}
.rehyb_h1{
	font-size: 120px;
	margin-bottom: 80px;
	margin-left: 20px;
}
.rehyb_p{
	font-size: 16px;
	margin-left: 20px;
	margin-right: 10px;
	color: #636363;
	line-height: 30px;
	text-align:justify
}



.rehyb {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}
.rehybcontent {
	display: inline-block;
	animation: marquee 20s linear infinite;
}
.rehybcontent img {
	margin-right: 10px;
}
@keyframes marquee {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}



/* footer style start */
.footer-text {
		font-weight: 100;
		color: #555;
		text-align: center;
		font-size: 14px;
		margin-top: 50px;
	  }
	
.footer-text-small {
		font-weight: 100;
		color: #555;
		text-align: center;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 50px;
	  }
.footer-icons p{
	text-align: center;
	padding: 20px 0px 10px 0px;
}
.footer-icons a {
	text-decoration: none;
}
.footer-icons img {
		width: 20px;
		margin: 0px 10px 0px 10px;
	  }

/* footer style end */